h1 {
	align-self: center;
	background-image: url('../../assets/images/src/10up_logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

#login_error {
	color: #DB2622;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
